  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jameinfeng is boke</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> 
    <style>
        body{
            background: #E9EAED
        }
    </style>
</head>
<body>
    <script>
        // (function(win){
        //     const doc = win.document;
        //     const baseWidth = 750;
        //     const html = doc.documentElement;
        //     const resizeEvt = 'orientationchange' in win ? 'orientationchange' : 'resize';
        //     const recalc = function(){
        //         const screenWidth = win.innerWidth || win.screen.width || 375;
        //         html.style.fontSize = 100 * screenWidth / baseWidth + 'px' 
        //     }
        //     if(!doc.addEventListener) return ;
        //     win.addEventListener(resizeEvt, recalc, false);
        //     doc.addEventListener('DOMContentLoaded', recalc, false);
        // })(window)
    </script>
    <div id="root">

    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
</body>
</html>