.edit{
    width: 100%;
    height: atuo;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    .content{
        width: 100%;
        display: flex;
        flex-direction: row;
        .edit1{
            width: 50%;
        }
        .saveEdit{
            width: 50%;
            background: #fff;
        }
    }
    
}

.form{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    background-color: #fff;
    .edit_label{
        display: flex;
        width: 50%;
        height: 50px;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        margin-top: 20px;
        box-sizing: border-box;
        .edit_input{
            border: 1px solid gray;
            flex: 1;
            height: 40px;
            margin-left: 10px;
        }
    }
}

.btn_list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: #fff;
    border-top: 1px solid #eee;
    button{
        width: 100px;
        height: 40px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
    }
    .cancel{
        background: #dfe2e5;
        color: #fff;
    }
    .submit{
        background: rgb(0, 174, 255);
        color: #fff;
    }
}